
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

.container {
    border: 5px solid #000000;

    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 20px; /* Скругление углов */
}

h1 {
    text-align: center;
    background-color: #79bff2; /* Синий фон */
    color: #000000; /* Черный текст */
    border: 3px solid #000000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px; /* Скругление углов */
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 20px;
    color: #000000; /* Черный текст */
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 2px solid #79bff2;
    border-radius: 10px; /* Скругление углов */
    box-sizing: border-box;
    font-size: 18px;
}

.input-fields {
    border: 3px solid #79bff2;
    display: none;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px; /* Скругление углов */
    background-color: #dceeff; /* Светло-синий фон */
}

button[type="submit"] {
    background-color: #ff4f92; /* Розовая кнопка */
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    border-radius: 15px; /* Скругление углов */
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e54382; /* Изменение цвета при наведении */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    min-width: 600px;

    overflow-x: auto
}

table th, table td {
    padding: 15px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 20px;
    font-size: 18px;
}

table th {
    background-color: #79bff2; /* Синий фон */
    color: #000000;
    border-radius: 10px;

}

table td {
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    border-radius: 10px;
    white-space: nowrap; /* Отключаем перенос строк в ячейках */

}

#result {
    border: 3px solid #000000;
    padding: 20px;
    min-height: 100px;
    background-color: #f2f2f2;
    border-radius: 20px; /* Скругление углов */
}

/* Контейнер для кнопки Экспорт и выпадающих опций */
  .export-container {
    position: relative;
    display: inline-block;
  }



  /* Стили для основной кнопки */
  .export-btn {
    padding: 15px 30px;
    background-color: #ff4f92;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    max-width: 100%

  }

  /* Контейнер для выплывающих кнопок */
  .export-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1;
  }

  /* Стиль для выплывающих кнопок */
  .export-options button {
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border: none;
    background: #ffffff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  /* Иконки и отступы для них */
  .export-options button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  /* Появление выплывающих кнопок при наведении на контейнер */
  .export-container:hover .export-options {
    display: block;
  }

  /* Изменение фона при наведении на опции */
  .export-options button:hover {
    background-color: #f0f0f0;
  }


@media (max-width: 768px) {
    .export-btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    .export-options button {
        font-size: 12px;
        padding: 6px 12px;
    }
    h1 {
        font-size: 24px;
        padding: 10px;
    }

    label {
        font-size: 16px;
    }

    select,  button[type="submit"] {
        font-size: 16px;
        padding: 8px;
    }
    input[type="number"] {
        padding: 0px;
        font-size: 8px;
    }
    table th, table td {
        padding: 0px;
        font-size: 7px;

    }

    .container, .input-fields, #result {
        padding: 10px;
    }

    /* Горизонтальная прокрутка для таблиц */
    .container {
        overflow-x: auto;

    }

    table {
        min-width: 180px;

    }
}
