<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Калькулятор ресурсов SOC</title>
</head>
<body>
    <div class="container">
        <h1>Калькулятор ресурсов SOC</h1>

        <!-- выпадающий список с бывором реджимов -->
        <label for="calculator-type">Выбор типа калькулятора:</label>
        <select id="calculator-type">
            <option value="0">Выбрать режим</option>
            <option value="1">Режим 1: Калькулятор из excel</option>
            <option value="2">Режим 2: -</option>
            <option value="3">Режим 3: -</option>
        </select>

        <!-- Поля для режима 1 -->
        <div id="mode-1" class="input-fields">
            <!-- поля для ввода значений -->
            <label for="work-hours">Количество часов работы:</label>
            <input type="number" id="work-hours" placeholder="Например: 180">

            <label for="days-count">Среднее количество дней:</label>
            <input type="number" id="days-count" placeholder="Например: 11">

            <label for="max-files-day">Максимальное количество файлов в день:</label>
            <input type="number" id="max-files-day" placeholder="Например: 58">

            <!-- кнопка рассчиать для режима1 -->
            <button id="calculate">Рассчитать</button>

            <div id="result">
            <h3>Итоговые результаты:</h3>
            <p id="result-output"></p>
            </div>
        </div>

        <!-- Поля для режима 2 -->
        <div id="mode-2" class="input-fields">
            <p>Режим 2</p>
        </div>

        <!-- Поля для режима 3 -->
        <div id="mode-3" class="input-fields">
            <p>Режим 3"</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='frame-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='calculate-result.js') }}"></script>
</body>
</html>
