<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Калькулятор ресурсов SOC</title>
</head>
<body>
    <div class="container">
        <h1>Калькулятор ресурсов SOC</h1>

        <!-- выпадающий список с бывором реджимов -->
        <label for="calculator-type">Выбор типа калькулятора:</label>
        <select id="calculator-type">
            <option value="0">Выбрать режим</option>
            <option value="1">Режим 1: Калькулятор из excel</option>
            <option value="2">Режим 2: -</option>
            <option value="3">Режим 3: -</option>
        </select>

        <!-- Поля для режима 0 -->
        <div id="mode-0" class="input-fields">
            <p>тут будет описание работы режимов калькулятора</p>
        </div>
        <!-- Поля для режима 1 -->
         <form id="mode-1" class="input-fields" method="POST" action="/calculate">

             <table border="1">
                <tr>
                    <th>Стоковые данные для заполнения</th>
                    <th>общее</th>
                    <th>день</th>
                    <th>ночь/пр/вых</th>
                    <th>день/пр/вых</th>
                </tr>
                <tr>
                    <td>Факт среднее кол-во файлов в месяц</td>
                    <td><input type="number" id="total-files" name="total_files" placeholder="Например: 10491"></td>
                    <td><input type="number" id="day-files" name="day_files" placeholder="Например: 6539"></td>
                    <td><input type="number" id="night-files" name="night_files" placeholder="Например:1143"></td>
                    <td><input type="number" id="day-pr-files" name="day_pr_files" placeholder="Например: 833"></td>
                </tr>
                <tr>
                    <td>Кол-во новых пользователей (УЗ)</td>
                    <td><input type="number" id="new-users" name="new_users" placeholder="Например: 600"></td>

                </tr>
                <tr>
                    <th>Кол-во часов</th>
                    <th>180 часов</th>
                    <th>168 часов</th>
                    <th>79 часов</th>
                    <th>180 часов ночь</th>
                </tr>
                <tr>
                    <td>Факт кол-во машин</td>
                    <td><input type="number" id="total-machines" name="total_machines" placeholder="Например: 2"></td>
                    <td><input type="number" id="day-machines" name="day_machines" placeholder="Например: 4"></td>
                    <td><input type="number" id="night-machines" name="night_machines" placeholder="Например: 3"></td>
                    <td><input type="number" id="night-pr-machines" name="night_pr_machines" placeholder="Например: 2"></td>
                </tr>
            </table>


            <!-- Кнопка рассчитать для режима 1 -->
            <button type="submit">Рассчитать</button>
             <div id="result">
                <h3>Итоговые результаты:</h3>
                <p id="result-output"></p>
            </div>
        </form>



        <!-- Поля для режима 2 -->
        <div id="mode-2" class="input-fields">
            <p>Режим 2</p>
        </div>

        <!-- Поля для режима 3 -->
        <div id="mode-3" class="input-fields">
            <p>Режим 3</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='frame-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='calculate-result.js') }}"></script>
</body>
</html>
